html
{
    background: #3D5663;
}

h1 {
  
  color: white;
  text-shadow: 3px 1px 1px darkgrey;
}

h2 {
  
  color: white;
}

h3 {
    color:white;
}


ul {
    width: auto;
    color:black;
    margin: 0 auto;
    text-align: justify;
    background:#bbe1fa;
    border: 2px solid darkgrey;
    
}


p{
    width: auto;
    color:#bbe1fa;
    
}
body {
  max-width: 800px;
  margin: 0 auto;
  background-color: #0f4c75;
  padding: 0 20px 20px 20px;
  border: 5px solid darkblue;
}

dl
{
    width: auto;
    color:black;
    margin: 0 auto;
    text-align: justify;
    background:#bbe1fa;
    border: 5px solid darkgrey;
}
p
{
    color:White;
    max-width:800px;
}


table
{
    width: 800px;
    background-color: #20639b;
    border: .5px solid black;
    color: lightgrey;
    align-content: center;
    text-align: left;
}

img {
  display: block;
  margin: 0 auto;
}

footer
{
    color: white;
    align-self: auto;
    text-align: right;
    width: 98%;
    height: 2.5rem;
}   